/*external font*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*custom properties*/
:root{
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-vdd-blue:hsl(229, 23%, 23%);
    --primary-d-grayish-blue:hsl(227, 10%, 46%);

    --neutral-dark-gray:hsl(0, 0%, 59%);

    --preset-size:1.8rem;
    --kumbh-sans:"Kumbh Sans";
}
/*box-sizing fix*/
html {
    box-sizing: border-box;
    font-size: 62.5%;/*rem conversor (10px = 1rem)*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 
h1,
h2,
p{
    font-size: var(--preset-size);
    font-family: var(--kumbh-sans);
}
body{
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: 90rem;
    background-position: left top, right bottom;
    background-position-x: -30rem, 85rem;
    background-position-y: -40rem, 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.strong{
    font-weight: 700;
}
/*contenido-principal*/
.contenido-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*user properties*/
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.user-img{
    width: 10rem;
}
/*data properties*/
.data{
    display: flex;
    gap: 3rem;
    text-align: center;
}
/*Frontend mentor properties*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }